@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: hsl(207, 26%, 17%);
  color: white;
}

.main {
  margin: 2rem;
}

.header {
  padding: 1rem;
  padding-left: 3rem;
  font-weight: 900;
  background-color: hsl(209, 23%, 22%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header input {
  width: 30%;
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: white;
  border: none;
}

.country-name {
  font-weight: 700;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.countries-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.country-card {
  margin: 1rem;
  width: 20vw;
  height: 20vw;
  font-size: 14px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-content {
  margin: 1rem;
}

.flag-img {
  width: 100%;
  height: 150px;
}

.country-name,
.capital,
.population {
  margin-top: 0.3rem;
}

.region-selector {
  width: 15vw;
  background-color: hsl(209, 23%, 22%);
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-size: inherit;
  border: none;
  color: inherit;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.filter-countries {
  width: 20vw;
  font-size: inherit;
  padding: 0.5rem 1rem;
  font-family: inherit;
  color: inherit;
  border: 0;
  background-color: hsl(209, 23%, 22%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.region-selector:focus,
.filter-countries:focus {
  outline: none;
}

.btn-dark-mode {
  border: 0;
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

.btn-dark-mode:focus {
  outline: none;
}

.btn-dark-mode.active {
  color: white;
}

.mode-label {
  font-weight: bold;
  margin-left: 5px;
}
